.character {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  transition: transform 0.2s ease-in-out;
  font-weight: 500;
}

.character > .character-image {
  max-height: 55px;
}

.character:hover {
  transform: scale(1.05);
}
