.found-item {
  background-color: rgba(0, 128, 0, 0.5);
  font-weight: bold;
  color: white;
  padding: 3.9px;
  border-radius: 4px;
  font-size: min(1vw, 14px);
  overflow-wrap: anywhere;
}

.input-game-image {
  display: block;
}
