.game-level-header {
  display: flex;
  align-items: center;
}

.characters-reference {
  position: relative;
}

.characters-reference > .options {
  position: absolute;
  left: 100%;
  background-color: var(--main-bg);
  padding: 18px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
