.game-level > header {
  display: flex;
  align-items: center;
}

.game-level-characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 24px;
  margin: 0 8px;
}

.game-image-container img {
  width: 100%;
}
