[data-is-started="false"] {
  overflow: hidden;
}

.game-level-characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 24px;
  margin: 0 8px;
}

.game-image-container {
  position: relative;
}

.game-image-container input[type="image"] {
  width: 100%;
  cursor: crosshair;
}
