[data-is-started="false"] {
  overflow: hidden;
}

.game-level > header {
  display: flex;
  align-items: center;
}

.characters-dropdown {
  position: relative;
}

.characters-dropdown > .options {
  position: absolute;
  left: 100%;
  background-color: var(--main-bg);
  padding: 18px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.game-level-characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 24px;
  margin: 0 8px;
}

.game-image-container {
  position: relative;
}

.game-image-container input[type="image"] {
  width: 100%;
}
