.leaderboard-table-container {
  overflow: auto;
}

.leaderboard-table {
  margin: auto;
  text-align: center;
}

.leaderboard-title {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

td,
th {
  outline: 1px solid var(--main-text-color);
  padding: 10px 20px;
}

td {
  font-weight: 500;
}

th {
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background-color: var(--secondary-main-bg);
}

.submission-name {
  overflow: hidden;
}

.submission-name-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
  max-width: 225px;
}

/* First place */
.leaderboard-submission:first-child > .submission-place {
  color: gold;
}

/* Second place */
.leaderboard-submission:nth-child(2) > .submission-place {
  color: silver;
}

/* Third place */
.leaderboard-submission:nth-child(3) > .submission-place {
  color: #cd7f32;
}

/* Set font weight to bold for 1st, 2nd, and 3rd  */

.leaderboard-submission:first-child > .submission-place,
.leaderboard-submission:nth-child(2) > .submission-place,
.leaderboard-submission:nth-child(3) > .submission-place {
  font-weight: bold;
}

.no-submissions,
.no-active-level {
  text-align: center;
  font-weight: 500;
}
