.leaderboard {
  padding: 24px 12px;
  width: 100%;
  height: 100%;
}

.leaderboard-levels {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  overflow: auto;
}

.leaderboard-level {
  border: none;
  background-color: transparent;
}

.leaderboard-level[data-isactive="true"] .level-preview-card {
  background-color: var(--hover-color);
}

/* Can't use justify-content center since scrolling is broken */
.leaderboard-level:first-child {
  margin-left: auto;
}

.leaderboard-level:last-child {
  margin-right: auto;
}

.no-submissions {
  text-align: center;
}
