.leaderboard {
  padding: 24px;
  margin: auto;
  overflow: auto;
  display: block;
  width: 100%;
  height: 100%;
}

.leaderboard-level {
  border: none;
  background-color: transparent;
}

.leaderboard-level > .level-preview-card {
  max-width: 200px;
}
