.level-preview-card {
  height: 100%;
  position: relative;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  /* Change to block since links are inline */
  display: block;
  background-color: var(--secondary-main-bg);
  transition: 0.4s ease 0s;
  --level-preview-card-width: min(250px, 75vw);
  max-width: var(--level-preview-card-width);
}

.level-preview-card:hover {
  background-color: var(--hover-color);
}

.level-preview-card-image-container {
  overflow: hidden;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: var(--level-preview-card-width);
  height: 300px;
}

.level-preview-card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  transition: 280ms ease-in-out;
  display: block;
  transition: transform 0.4s ease 0s;
}

.level-preview-card-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
  padding: 1rem;
}

.level-preview-card-name {
  color: var(--main-text-color);
  margin: auto;
}

.level-preview-card:hover .level-preview-card-image {
  transform: scale(1.17);
}

.level-preview-card-character-photos {
  display: flex;
  gap: 8px;
  margin: auto;
}

.level-preview-card-character-photo {
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  object-fit: contain;
  display: block;
}
