.level-preview-card {
  max-height: 100%;
  max-width: 250px;
  position: relative;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  /* Change to block since links are inline */
  display: block;
  background-color: var(--secondary-main-bg);
  transition: 0.4s ease 0s;
}

.level-preview-card:hover {
  background-color: var(--hover-color);
}

.level-preview-card-image-container {
  overflow: hidden;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.level-preview-card-image {
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  transition: 280ms ease-in-out;
  display: block;
  transition: transform 0.4s ease 0s;
}

.level-preview-card-info {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px;
}

.level-preview-card-name {
  color: var(--main-text-color);
}

.level-preview-card:hover .level-preview-card-image {
  transform: scale(1.17);
}
