#not-found {
  padding: 0 3px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#not-found i {
  font-size: min(3.6rem, 11vw);
  color: slategrey;
  margin-bottom: 8px;
}

#not-found h1 {
  color: #b32c35;
  text-transform: uppercase;
  font-size: min(2.9rem, 9.7vw);
  margin-bottom: 12px;
}

#not-found p {
  font-size: min(1rem, 3.5vw);
}

#not-found a {
  color: inherit;
  transition: 0.3s;
}

#not-found a:hover {
  filter: brightness(115%);
}
